@tailwind base;
@tailwind components;
@tailwind utilities;

:root { background-attachment: fixed; }

html,
body {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  font-family: 'Platform',  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #fefbff;
    background: linear-gradient(180deg, #f8f9ff 0%, #eaecff 100%);
    background-attachment: fixed; 
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.shake {
  animation: shake 3s infinite; 
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}




@font-face {
  font-family: 'Platform';
  src: url('fonts/Platform-Regular.eot');
  src: local('Platform Regular'), local('Platform-Regular'),
      url('fonts/Platform-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/Platform-Regular.woff2') format('woff2'),
      url('fonts/Platform-Regular.woff') format('woff'),
      url('fonts/Platform-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Platform';
  src: url('fonts/Platform-MediumItalic.eot');
  src: local('Platform Medium Italic'), local('Platform-MediumItalic'),
      url('fonts/Platform-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/Platform-MediumItalic.woff2') format('woff2'),
      url('fonts/Platform-MediumItalic.woff') format('woff'),
      url('fonts/Platform-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Platform';
  src: url('fonts/Platform-BoldItalic.eot');
  src: local('Platform Bold Italic'), local('Platform-BoldItalic'),
      url('fonts/Platform-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/Platform-BoldItalic.woff2') format('woff2'),
      url('fonts/Platform-BoldItalic.woff') format('woff'),
      url('fonts/Platform-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Platform Hairline';
  src: url('fonts/Platform-Hairline.eot');
  src: local('Platform Hairline'), local('Platform-Hairline'),
      url('fonts/Platform-Hairline.eot?#iefix') format('embedded-opentype'),
      url('fonts/Platform-Hairline.woff2') format('woff2'),
      url('fonts/Platform-Hairline.woff') format('woff'),
      url('fonts/Platform-Hairline.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Platform Hairline';
  src: url('fonts/Platform-HairlineItalic.eot');
  src: local('Platform Hairline Italic'), local('Platform-HairlineItalic'),
      url('fonts/Platform-HairlineItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/Platform-HairlineItalic.woff2') format('woff2'),
      url('fonts/Platform-HairlineItalic.woff') format('woff'),
      url('fonts/Platform-HairlineItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Platform';
  src: url('fonts/Platform-Medium.eot');
  src: local('Platform Medium'), local('Platform-Medium'),
      url('fonts/Platform-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/Platform-Medium.woff2') format('woff2'),
      url('fonts/Platform-Medium.woff') format('woff'),
      url('fonts/Platform-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: 'Platform';
  src: url('fonts/Platform-Bold.eot');
  src: local('Platform Bold'), local('Platform-Bold'),
      url('fonts/Platform-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Platform-Bold.woff2') format('woff2'),
      url('fonts/Platform-Bold.woff') format('woff'),
      url('fonts/Platform-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Platform';
  src: url('fonts/Platform-Light.eot');
  src: local('Platform Light'), local('Platform-Light'),
      url('fonts/Platform-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/Platform-Light.woff2') format('woff2'),
      url('fonts/Platform-Light.woff') format('woff'),
      url('fonts/Platform-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Platform';
  src: url('fonts/Platform-LightItalic.eot');
  src: local('Platform Light Italic'), local('Platform-LightItalic'),
      url('fonts/Platform-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/Platform-LightItalic.woff2') format('woff2'),
      url('fonts/Platform-LightItalic.woff') format('woff'),
      url('fonts/Platform-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}




.ptprelinker-containers-fullpage-default.ptprelinker-show .ptprelinker-content .ptprelinker-content-inner {
  font-family: Platform;
  letter-spacing: 1.5px !important;
}


.ptprelinker-contents-register-form-default .ptprelinker-content .ptprelinker-content-inner .ptprelinker-register-form .ptprelinker-legend-form {
  color:#FA0179 !important;
  font-weight: 700;
  font-family: Platform !important;
  font-size: 19px !important;
  background-color: none !important;
  
}
.ptprelinker-contents-register-form-default .ptprelinker-checkbox .ptprelinker-input-checkbox+.ptprelinker-label-checkbox::before {
  border-color: #c181ff !important; 
 }

 .ptprelinker-contents-register-form-default .ptprelinker-checkbox .ptprelinker-input-checkbox:checked+.ptprelinker-label-checkbox::before { 
 
background-color: #c181ff !important;}

    .ptprelinker-cgu-text {
        margin-top: 0.4rem;
        color: #c181ff !important;
        font-size: 0px !important;
    }

    .ptprelinker-input-group-text {
      background: #c181ff !important;
      border-color: #c181ff !important;
      color: white !important;
  }
    

    .ptprelinker-contents-register-form-default .ptprelinker-content .ptprelinker-content-inner .ptprelinker-register-form .ptprelinker-buttons .ptprelinker-button  {
      border-radius: 1rem !important;
      font-weight: 500 !important;
      text-transform: uppercase !important;
      background: #2bbc69 !important;
      border-bottom: 4px solid #207e48 !important;
      border: none !important;
      font-size: 20px !important;
      font-family: Platform !important;
      color:white !important;
      letter-spacing: 1.1px !important;
    }

    .ptprelinker-contents-register-form-default .ptprelinker-content .ptprelinker-content-inner .ptprelinker-register-form .ptprelinker-buttons .ptprelinker-button {
      border-bottom: 4px solid #207e48 !important;

    }

    .ptprelinker-contents-register-form-default .ptprelinker-content .ptprelinker-content-inner {
        background-color:#1b1c21 !important;
        width: 100%;
        padding: 1rem;
    }

    .ptprelinker-contents-register-form-default .ptprelinker-content .ptprelinker-content-inner .ptprelinker-register-form .ptprelinker-legend-form {
        
        background-color: transparent !important;
       
    }

    .ptprelinker-contents-register-form-default .ptprelinker-content .ptprelinker-content-inner {
        background-color: transparent !important;
        width: 95% !important;
        margin: auto;
        padding: 1rem;
        border-radius: 30px !important;
    }

    
    .ptprelinker-contents-register-form-default .ptprelinker-content .ptprelinker-content-inner .ptprelinker-register-form .ptprelinker-input:focus, .ptprelinker-contents-register-form-default .ptprelinker-content .ptprelinker-content-inner .ptprelinker-register-form .ptprelinker-select:focus {
    border-color: white !important}

    .ptprelinker-contents-register-form-default .ptprelinker-input:focus, .ptprelinker-contents-register-form-default .ptprelinker-select:focus {
    box-shadow:  none !important;}

    .ptprelinker-containers-fullpage-default.ptprelinker-show .ptprelinker-content .ptprelinker-content-inner {
   border-radius: 20px;
    width: 95%;
    margin: 0 auto;
    
}

.ptprelinker-contents-register-form-default .ptprelinker-content .ptprelinker-content-inner .ptprelinker-register-form .ptprelinker-cgu-link {
    color: #c181ff !important;
    text-decoration: none;
    transition: all 0.4s;
}

.ptprelinker-contents-register-form-default .ptprelinker-checkbox .ptprelinker-input-checkbox {
  
    width: 100% !important;
    height: 2.5rem !important;
    opacity: 0;
}


.show {display: block;}

.noshow {display: none;}

.invitation {display: block;}

.noinvitation {display: none;}

.shake {
  animation: shake 3s infinite; 
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.form-group:first-of-type {

  display: none !important;
}

button:disabled,
button[disabled]{
  border-color:#787878 !important;
  background-color: #a4a4a4 !important;
  color: #666666;
}

button {
background: #00b777;
border-color:#128e49;

}

textarea:focus, input:focus{
  outline: none;
}

.exk-modal-header {
  display: none !important;
}

.exk-modal-close-btn {
  background-color: white !important;
}

/* .ptprelinker-contents-register-form-default .ptprelinker-content .ptprelinker-content-inner .ptprelinker-register-form .ptprelinker-input-group-prepend .ptprelinker-input-group-text {
  background: #c095e4 !important;
  border-color: #c095e4 !important;
} */

/* .ptprelinker-icon-calendar:before  {
color: white !important;
}

.ptprelinker-icon-pencil:before
{
  color: white !important;
  }
  
  .ptprelinker-icon-mail:before  {
    color: white !important;
    } */

.shaadow {
  box-shadow: 1px 1px 32px rgba(163, 73, 252, 0.395);
}

@font-face {
  font-family: 'Jerry';
  src: url('fonts/jerry.ttf') format('truetype');
}

.jerry {
  font-family: 'Jerry' !important;
}



.ptprelinker-input-group:first-of-type {
  display: none !important;
}



.chat{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chatBox{
  padding: 10px;
  height: 75%;
  width: 70%;
  /* border: 2px solid grey; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.message{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.menu{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.messageBox{
  height: 20px;
  width: 85%;
  padding: 5px;
}

.emailBox{
  height: 20px;
  width: 85%;
  padding: 5px;
}

.send{
  height: 34px;
  width: 10%;
  /* padding: 5px; */
}

.chatTextContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatText{
  width: max-content;
  margin: 5px 0px 5px 0px;
  padding: 8px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 1px solid black; */
  border-radius: 10px;
  font-size: 14px;
  font-weight: 200;
}

.login{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

.loginForm{
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.loginText{
  color: white;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.ptprelinker-button {
  font-size: 16px !important;
}
